<script setup>
import PjButton from "../components/PjButton.vue";
import { ROUTES } from "../constants";
const allIssuesLink =
  "https://gitlab.com/gitlab-org/gitlab/-/issues/?sort=created_date&state=opened&label_name%5B%5D=Pajamas%20Migration%20Day&label_name%5B%5D=workflow%3A%3Aready%20for%20development&assignee_id=None&first_page_size=20";
</script>

<template>
  <h1>Pajamas Migration Day</h1>
  <p>
    Want to join in on our Pajamas migration day but aren't sure where to start?
  </p>
  <p>Take this quick quiz to get a suggestion.</p>
  <div class="button-group">
    <pj-button variant="primary" to="/questions">Start quiz</pj-button>
    <div class="alt">
      or <a :href="allIssuesLink" target="_blank">See all issues</a>
    </div>
  </div>
</template>
