<script setup>
import { computed, ref } from "vue";
import PjComponent from "../components/PjComponent.vue";
import PjQuestion from "../components/PjQuestion.vue";
import path from "../path.json";

const questionTarget = ref("init");
const question = computed(() => path[questionTarget.value]);
const isComponentType = computed(() => !!question?.value?.componentName);
const handleChoice = (choice) => {
  questionTarget.value = choice;
};
</script>

<template>
  <div v-if="question">
    <pj-component
      v-if="isComponentType"
      :name="question.componentName"
      :description="question.description"
    />
    <pj-question
      v-else
      :choices="question.choices"
      :title="question.title"
      :description="question.description"
      @choose="handleChoice"
    />
  </div>
</template>
