<script setup>
import { computed } from "vue";
import { RouterLink } from "vue-router";

const props = defineProps(["to", "href", "variant"]);
const classes = computed(() => {
  switch (props.variant) {
    case "primary":
      return "primary";
    default:
      return "";
  }
});
</script>

<template>
  <a
    class="button"
    :class="classes"
    v-if="href"
    :href="href"
    target="_blank"
    rel="nofollow"
    ><slot></slot
  ></a>
  <router-link class="button" :class="classes" v-else-if="to" :to="to"
    ><slot></slot
  ></router-link>
  <button class="button" :class="classes" v-else>
    <slot></slot>
  </button>
</template>

<style scoped>
button {
  cursor: pointer;
}
.button {
  background: var(--color-white);
  border-radius: 0.25em;
  border: none;
  box-shadow: inset 0 0 0 1px var(--color-gray-01);
  color: var(--color-charcoal);
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1em;
  margin: 0 0.25em;
  padding: 0.5em 0.75em;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.button:hover {
  box-shadow: inset 0 0 0 2px var(--color-gray-02);
  background: var(--color-gray-00);
}

.button.primary {
  background: var(--color-blue-01);
  color: var(--color-white);
  box-shadow: inset 0 0 0 1px var(--color-blue-02);
}
.button.primary:hover {
  background: var(--color-blue-02);
  box-shadow: inset 0 0 0 2px var(--color-blue-03);
}
</style>
