<script setup>
import { computed } from "vue";
import PjButton from "../components/PjButton.vue";
import { ROUTES } from "../constants";

const props = defineProps(["name", "description"]);

const issueLink = computed(
  () =>
    `https://gitlab.com/gitlab-org/gitlab/-/issues/` +
    `?state=opened` +
    `&label_name[]=Pajamas Migration Day` +
    `&label_name[]=workflow::ready for development` +
    `&label_name[]=component:${props.name}` +
    `&assignee_id=None`
);

const scannerLink = computed(
  () =>
    `https://gitlab-org.gitlab.io/frontend/pajamas-adoption-scanner/` +
    `?search=` +
    `extra.metadata.pajamasCompliant eq false and ` +
    `extra.metadata.componentLabel eq "component:${props.name}"`
);
</script>

<template>
  <h2>We recommend you look at {{ name }} migrations</h2>
  <p v-if="description">{{ description }}</p>
  <div class="button-group">
    <pj-button variant="primary" :href="issueLink">View issues</pj-button>
    <pj-button :href="scannerLink">View scanner findings</pj-button>
    <div class="alt">
      or <router-link :to="ROUTES.HOME">Start over</router-link>
    </div>
  </div>
</template>
