<script setup>
const props = defineProps(["halloween"]);
</script>

<template>
  <svg
    v-if="halloween"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 539 600"
  >
    <path
      fill="#FC6D26"
      d="M106.312 285.431c0-135.076 77.742-202.906 113.892-202.906 50.532 0 87.071 72.3 87.071 202.906 0 130.607-30.514 192.995-87.071 192.995-31.097 0-113.892-57.918-113.892-192.995Z"
    />
    <path
      fill="#171321"
      fill-opacity=".3"
      d="M106.312 285.431c0-135.076 77.742-202.906 113.892-202.906 50.532 0 87.071 72.3 87.071 202.906 0 130.607-30.514 192.995-87.071 192.995-31.097 0-113.892-57.918-113.892-192.995Z"
    />
    <path
      fill="#FC6D26"
      d="M42.175 291.651c0-135.077 77.742-202.907 113.892-202.907 50.532 0 87.071 72.3 87.071 202.907 0 130.606-30.514 192.994-87.071 192.994-31.097 0-113.892-57.918-113.892-192.994Z"
    />
    <path
      fill="#171321"
      fill-opacity=".2"
      d="M42.175 291.651c0-135.077 77.742-202.907 113.892-202.907 50.532 0 87.071 72.3 87.071 202.907 0 130.606-30.514 192.994-87.071 192.994-31.097 0-113.892-57.918-113.892-192.994Z"
    />
    <path
      fill="#FC6D26"
      d="M0 315.945c0-135.076 77.742-202.906 113.892-202.906 50.532 0 87.071 72.3 87.071 202.906s-30.514 192.994-87.071 192.994C82.795 508.939 0 451.022 0 315.945Z"
    />
    <path
      fill="#171321"
      fill-opacity=".1"
      d="M0 315.945c0-135.076 77.742-202.906 113.892-202.906 50.532 0 87.071 72.3 87.071 202.906s-30.514 192.994-87.071 192.994C82.795 508.939 0 451.022 0 315.945Z"
    />
    <path
      fill="#FC6D26"
      d="M432.439 285.431c0-135.076-77.742-202.906-113.892-202.906-50.532 0-87.071 72.3-87.071 202.906 0 130.607 30.514 192.995 87.071 192.995 31.097 0 113.892-57.918 113.892-192.995Z"
    />
    <path
      fill="#171321"
      fill-opacity=".3"
      d="M432.439 285.431c0-135.076-77.742-202.906-113.892-202.906-50.532 0-87.071 72.3-87.071 202.906 0 130.607 30.514 192.995 87.071 192.995 31.097 0 113.892-57.918 113.892-192.995Z"
    />
    <path
      fill="#FC6D26"
      d="M496.576 291.651c0-135.077-77.742-202.907-113.892-202.907-50.532 0-87.071 72.3-87.071 202.907 0 130.606 30.514 192.994 87.071 192.994 31.097 0 113.892-57.918 113.892-192.994Z"
    />
    <path
      fill="#171321"
      fill-opacity=".2"
      d="M496.576 291.651c0-135.077-77.742-202.907-113.892-202.907-50.532 0-87.071 72.3-87.071 202.907 0 130.606 30.514 192.994 87.071 192.994 31.097 0 113.892-57.918 113.892-192.994Z"
    />
    <path
      fill="#FC6D26"
      d="M538.751 315.945c0-135.076-77.742-202.906-113.892-202.906-50.532 0-87.071 72.3-87.071 202.906s30.514 192.994 87.071 192.994c31.097 0 113.892-57.917 113.892-192.994Z"
    />
    <path
      fill="#171321"
      fill-opacity=".1"
      d="M538.751 315.945c0-135.076-77.742-202.906-113.892-202.906-50.532 0-87.071 72.3-87.071 202.906s30.514 192.994 87.071 192.994c31.097 0 113.892-57.917 113.892-192.994Z"
    />
    <path
      fill="#C0A267"
      d="M298.492 91.226c1.673 13.216 18.184 22.987 26.23 26.221l3.952 31.223-82.204 2.851c-19.278-8.302-51.318-27.04-25.252-35.576 32.583-10.67 33.679-25.563 26.33-49.474-5.88-19.13-23.052-22.531-36.092-27.65-1.49.748-3.911-.848-1.672-13.216 2.238-12.369 18.068-15.491 25.702-15.507-1.385-1.838 2.925-1.142 31.249 16.355 35.405 21.87 29.666 48.253 31.757 64.773Z"
    />
    <path
      fill="#FC6D26"
      d="M187.358 107.597c50.843 0 75.992 18.14 82.212 27.21 13.281-9.07 46.295-27.21 72.105-27.21 32.263 0 129.441 47.811 129.441 202.906s-49.755 230.31-207.766 230.31c-158.01 0-191.05-116.418-191.05-230.31s51.504-202.906 115.058-202.906Z"
    />
    <g fill="#171321" fill-opacity=".46" filter="url(#a)">
      <path
        fill-rule="evenodd"
        d="m304.409 378.398-104.312 26.001c-17.676 4.495-17.676 11.924-17.676 11.924V266.259a74.293 74.293 0 0 1 15.734-45.712 74.273 74.273 0 0 1 40.525-26.348l112.742-28.229a7.424 7.424 0 0 1 9.246 7.428V306.45a74.296 74.296 0 0 1-15.768 45.645 74.27 74.27 0 0 1-40.491 26.303Z"
        clip-rule="evenodd"
      />
      <path
        d="M182.421 416.323v2.228a59.44 59.44 0 0 0 30.97 52.003l39.586 21.506a7.427 7.427 0 0 0 11.141-6.649v-96.97l-64.021 15.958c-17.676 4.495-17.676 11.924-17.676 11.924Z"
      />
    </g>
    <path
      stroke="#FC6D26"
      stroke-width="15"
      d="m200.097 404.399 104.312-26.001a74.27 74.27 0 0 0 40.491-26.303 74.296 74.296 0 0 0 15.768-45.645V173.398a7.432 7.432 0 0 0-5.843-7.486 7.424 7.424 0 0 0-3.403.058L238.68 194.199a74.273 74.273 0 0 0-40.525 26.348 74.293 74.293 0 0 0-15.734 45.712v150.064m17.676-11.924c-17.676 4.495-17.676 11.924-17.676 11.924m17.676-11.924 64.021-15.958v96.97a7.44 7.44 0 0 1-3.619 6.597 7.418 7.418 0 0 1-7.522.052l-39.586-21.506a59.433 59.433 0 0 1-30.97-52.003v-2.228"
    />
    <defs>
      <filter
        id="a"
        width="178.251"
        height="327.315"
        x="182.421"
        y="165.742"
        color-interpolation-filters="sRGB"
        filterUnits="userSpaceOnUse"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix" />
        <feBlend in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
        <feColorMatrix
          in="SourceAlpha"
          result="hardAlpha"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        />
        <feOffset />
        <feGaussianBlur stdDeviation="17" />
        <feComposite in2="hardAlpha" k2="-1" k3="1" operator="arithmetic" />
        <feColorMatrix values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.65 0" />
        <feBlend in2="shape" result="effect1_innerShadow_344_134" />
      </filter>
    </defs>
  </svg>

  <svg
    v-else
    aria-hidden="true"
    viewBox="-60 0 166 121"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    class="pajamas-logo"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="m26.052 120.631-14.617-7.95a21.948 21.948 0 0 1-8.344-8.045A21.994 21.994 0 0 1 0 93.457V59.678h30.165v58.496a2.753 2.753 0 0 1-1.336 2.438 2.731 2.731 0 0 1-2.777.019Z"
      fill="#DEC9F0"
    ></path>
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M45.042 78.614 6.527 88.225C0 89.887 0 92.633 0 92.633V37.16a27.488 27.488 0 0 1 5.81-16.9 27.42 27.42 0 0 1 14.963-9.74L62.4.085a2.738 2.738 0 0 1 3.164 1.513c.177.386.263.808.25 1.233v49.186a27.488 27.488 0 0 1-5.822 16.874 27.42 27.42 0 0 1-14.95 9.724Z"
      fill="url(#a)"
    ></path>
    <defs>
      <linearGradient
        id="a"
        x1="0"
        y1="46.331"
        x2="65.815"
        y2="46.331"
        gradientUnits="userSpaceOnUse"
      >
        <stop stop-color="#7144C6"></stop>
        <stop offset=".59" stop-color="#8045C9"></stop>
        <stop offset="1" stop-color="#8E46CC"></stop>
      </linearGradient>
    </defs>
  </svg>
</template>

<style scoped>
svg {
  width: 10em;
  height: auto;
}
</style>
