<script setup>
import PjButton from "../components/PjButton.vue";
defineProps(["title", "choices", "description"]);
</script>

<template>
  <div class="question">
    <h2 v-if="title">{{ title }}</h2>
    <p v-if="description">{{ description }}</p>
    <div class="button-group">
      <pj-button
        v-for="choice in choices"
        :key="choice.link"
        class="m-2"
        @click="$emit('choose', choice.link)"
        >{{ choice.text }}</pj-button
      >
    </div>
  </div>
</template>
