* {
  box-sizing: border-box;
}

html {
  --color-charcoal: rgb(23, 19, 33);
  --color-white: rgb(255, 255, 255);
  --color-orange-01: rgb(252, 161, 33);
  --color-orange-02: rgb(252, 109, 38);
  --color-orange-03: rgb(226, 67, 41);
  --color-purple-01: rgb(169, 137, 245);
  --color-purple-02: rgb(119, 89, 194);
  --color-blue-01: rgb(31 117 203);
  --color-blue-02: rgb(16 104 191);
  --color-blue-03: rgb(6 71 135);
  --color-gray-00: rgb(236, 236, 239);
  --color-gray-01: rgb(209, 208, 211);
  --color-gray-02: rgb(162, 161, 166);
  --color-gray-03: rgb(116, 113, 122);
  --color-gray-04: rgb(69, 66, 77);
  --color-gray-05: rgb(43, 40, 56);

  background: radial-gradient(
      ellipse at bottom right,
      var(--color-orange-02) -30%,
      transparent 50%
    ),
    radial-gradient(
      ellipse at bottom left,
      var(--color-purple-01) -20%,
      transparent 60%
    ),
    radial-gradient(
      circle at top left,
      var(--color-orange-01) -30%,
      transparent 30%
    );
  color: var(--color-charcoal);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
  padding: 0;
}

#app {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
  text-align: center;
  min-height: 100vh;
  max-width: 100%;
  margin: 0;
}

h2,
p {
  margin: 0 0 1rem;
}

.button-group {
  margin-top: 2rem;
}
.alt {
  margin: 0.5rem 0 0;
}

/* Haloween styles */
body:has(.spook) {
  background: black;
}
main.spook,
.spook svg {
  filter: invert(100);
}
