<script setup>
const SPOOK_PREF_KEY = "SPOOK_PREF_KEY";
import { RouterView } from "vue-router";
import BloodDrips from "./components/BloodDrips.vue";
import PjLogo from "./components/PjLogo.vue";
import { onMounted, ref } from "vue";
import PjButton from "./components/PjButton.vue";

const hasSpookPotential = new Date().getMonth() === 9;
const spook = ref(hasSpookPotential);

// Getters
const getSpookPreference = () =>
  hasSpookPotential &&
  JSON.parse(window.localStorage.getItem(SPOOK_PREF_KEY) || true);
onMounted(() => (spook.value = getSpookPreference()));

// Methods
const toggleSpook = () => {
  spook.value = !spook.value;
  storeSpookPreference(spook.value);
};
const storeSpookPreference = (pref) =>
  window.localStorage.setItem(SPOOK_PREF_KEY, pref);
</script>

<template>
  <blood-drips v-if="spook" />
  <main :class="{ spook: spook }">
    <pj-button v-if="hasSpookPotential" class="toggle" @click="toggleSpook"
      ><div><span v-if="spook">No Spooky</span><span v-else>Spooky</span></div>
    </pj-button>
    <pj-logo :halloween="spook" />
    <router-view />
  </main>
</template>

<style scoped>
main {
  background: var(--color-white);
  padding: 3rem;
  border: 1px solid var(--color-gray-00);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0.75rem;
  width: 48rem;
  max-width: 100%;
  z-index: 99;
  position: relative;
}

.pajamas-logo {
  margin-bottom: 2rem;
}

.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1em;
}
</style>
